    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333333;
    }

    ul#navBar li {
      display: inline;  
    }


    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #111;
      color: white;
    }

    .active {
      background-color: #3498DB;
      color: white;
    }